<!DOCTYPE html>
<html>
  <head>
    <title>Discord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logo = "<%= image_url('discord_logo.png') %>";
      window.splash1 = "<%= image_url('discord_splash1.png') %>";
      window.splash2 = "<%= image_url('discord_splash2.png') %>";
      window.splash3 = "<%= image_url('discord_splash3.png') %>";
      window.splash4 = "<%= image_url('discord_splash4.png') %>";
      window.splash5 = "<%= image_url('discord_splash5.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
